<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Task title" id="title" name="title" [(ngModel)]="title">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task description</mat-label>
        <textarea matInput placeholder="..." [(ngModel)]="description"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-content>
    <button  (click)="save()"  mat-raised-button color="accent">Save</button>
</div>

